*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
body{
	/*font-family: 'Roboto Slab', serif;*/
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
}
/* КОНТЕЙНЕР */
.container{
	width: 100%;
	max-width: 1300px;
	margin: 0 auto;
}

/*Хедер*/

header{
	position:absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	padding-top: 40px;

}
.header_intro{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo{
	font-size: 24px;
	font-weight: 800;
	color: #fff;
}
nav{
	font-size: 14px;
	margin-left: 400px;
}
#menu{
	display: none;
}
.link{
	text-decoration: none;
	color:#fff;
	transition: color .4s linear;
	display: inline-block;
	margin: 0 15px;
	position: relative;
}
.link:after{
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	opacity: 0;
	transition: opacity 0.4s linear;

	background-color: #fce38a;

	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;
}
.link:hover{
	color: #fce38a;
}
.link:hover:after{
	opacity: 1;
}
/* Интро */

.intro{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100vh;
	background: url("img/intro.jpg") center no-repeat;
	background-size:cover;

	text-align: center;
}
.intro_title{
	font-size: 48px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
}
.intro_inner{
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
}
.intro_suptitle{
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
	color: #fff;
	margin-top: 35px;
}
.intro_suptitle:after{
	content: "";
	display: block;
	width: 145px;
	height: 3px;
	background-color: #fff;
	margin:30px auto;
	opacity: .7;
}

/*Кнопка*/

.btn{
	display: inline-block;
	vertical-align: top;
	padding: 8px 30px;
	font-size: 14px;
	font-weight: 700;
	border: 3px solid #fff;
	color: #fff;

	text-transform: uppercase;
	text-decoration: none;

	transition: background .4s linear, color .4s linear;
}
.btn:hover{
	background: #fce38a;
	color: #000;
}
/* Услуги */

.services{
	width: 100%;
	height: 60vh;
	background: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;

	text-align: center;
}
.services_inner{
	width: 100%;
	margin: 0 auto;
}
.services_inner h1:after{
	content: "";
	display: block;
	width: 145px;
	height: 3px;
	background-color: #000;
	margin: 30px auto;
	opacity: .7;
}
.services_inner h1{
	font-size: 20px;
}
.services_inner h2{
	font-size: 16px;
	font-family: 'Roboto Slab', serif;
	margin-bottom: 70px;
}
.services_img{
	display: flex;
	justify-content: space-between;
}
.img_item{
	width: 40%;
	margin: 0 50px 0 50px;
}
.img_item h4{
	margin: 30px auto 25px;
}

/*О НАС */
.about{
	width: 100%;
	height: 80vh;
	background: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;

	text-align: center;
}
.about_inner{
	width: 100%;
	margin: 0 auto;
}
.about_inner h1:after{
	content: "";
	display: block;
	width: 145px;
	height: 3px;
	background-color: #000;
	margin: 30px auto;
	opacity: .7;
}
.about_inner h1{
	font-size: 20px;
}
.about_inner h2{
	font-size: 16px;
	font-family: 'Roboto Slab', serif;
	margin-bottom: 70px;
}
.about_foto{
	display: flex;
	justify-content: space-between;
}
.foto{
	width: 40%;
	margin: 0 50px 0 50px;
}
.foto h4{
	margin: 30px auto 25px;
}
.foto img{
	height: 255px;
	width: 255px;
}
.ruslan{
	background: url(img/ruslan.jpg) no-repeat;
	display: block;
	height: 255px;
	width: 255px;
	margin-left: 50px;
}
.ruslan:hover{
	background: url(img/ruslan2.jpg) no-repeat;
}